.container {
  padding: 20px;
}

.goBackButton {
  background-color: #ff6347;
  color: white;
  border: none;
  padding: 10px;
  margin-bottom: 10px;
}
.goBackButton:hover,
.goBackButton:focus {
  background-color: #e95035;
}

img {
  margin-bottom: 16px;
  max-width: 100%;
  border-radius: 8px;
}

nav {
  margin-top: 20px;
}
.description {
  max-width: 800px;
}
.title {
  margin-bottom: 16px;
}
.addInfoLink {
  margin-bottom: 4px;
  color: #ff6347;
  font-weight: 600;
}
.addInfoLink:hover,
.addInfoLink:focus {
  color: #e95035;
  text-decoration: underline;
}
